body {
    overflow: visible;
}

.top-bar {
    width: 100%;
    height: 70px;
    background-color: #660000;
    overflow: hidden;
}

.left-bar {
    width: 300px;
    min-height: 100vh;
    top: 70px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding-top: 32px !important;
    /* background-color: #EEEEEE !important; */
    background-color: #FCFCFC !important;
}

.logo-VIUP {
    margin-top: 11px;
    margin-left: 10px;
    height: 50px;
}

.text-top-bar {
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    height: 70px;
}

.logo-BXD {
    margin-top: 11px;
    float: right;
    margin-right: 10px;
    height: 50px;
}

.display-none {
    display: none;
}

.icon-btn {
    height: 25px;
    float: left;
    margin: 2px;
}

.image-main {
    left: 300px;
    position: absolute;
    top: 70px;
    margin-left: 0px;
    place-items: center;
}

.break-line {
    /* margin-top: 5px !important; */
    margin-bottom: 5px;
    height: 1px;
    border-top: 1px solid #E4E4E7;
    width: 100%;
}

.text-area-height {
    color: brown;
    text-align: left;
    font-size: 20px;
    float: left;
    margin-left: 10px;
}

.input-area-height {
    margin-top: 3px;
    margin-bottom: 10px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #540E11;
    box-sizing: border-box;
    border-radius: 4px;
    pointer-events: none;
    padding-left: 5px;
}

.zoom-in {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 100px;
    right: 40px;
    cursor: pointer;
}

.zoom-out {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 40px;
    right: 40px;
    cursor: pointer;
}

.canvas {
    zoom: 1;
    cursor: pointer;
}

.btn-feature {
    border: 1px solid #E4E4E7 !important;
    box-sizing: border-box;
    box-shadow: -4px 4px 4px rgba(84, 14, 17, 0.25);
    border-radius: 8px;
    background-blend-mode: multiply;
    padding: 10px !important;
    flex-direction: row;
    align-items: center;
    height: 60px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.btn-feature-predic {
    border: 1px solid #E4E4E7 !important;
    box-sizing: border-box;
    box-shadow: -4px 4px 4px rgba(84, 14, 17, 0.25);
    border-radius: 8px;
    background-blend-mode: multiply;
    padding: 10px !important;
    flex-direction: row;
    align-items: center;
    height: 70px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.body-modal {
    border-radius: 20px;
    margin: 20px;
}

.file-path {
    padding: 9px;
    position: static;
    width: 78%;
    left: 0px;
    top: 10px;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #540E11;
    cursor: pointer;
    pointer-events: none;
}

.btn-open-file {
    position: static;
    width: 20%;
    float: right;
    border-radius: 4px;
    background: #CE2E2A;
    color: #FFFFFF;
    padding: 5px;
}

.nav-image {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px;
    position: static;
    width: 100%;
    height: 38px;
    left: 10px;
    top: 10px;
    border-radius: 4px;
}

.input-modal {
    margin-top: 3px;
    margin-bottom: 10px;
    /* margin-bottom: 5px; */
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #540E11;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 9px;
}

.nav-open-file {
    cursor: pointer !important;
}

.predic-body {
    background: #FFFFFF;
    border-radius: 20px;
    padding: 40px 30px 40px 30px;
}

.predic-body .row {
    padding: 10px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 82.27%;
    background: #FFFFFF;
    border: 1px solid #E4E4E7;
    box-sizing: border-box;
    box-shadow: inset 0px -1px 0px #E4E4E7;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 1px;
}

.predic-body .row-header {
    font-weight: bold;
    margin-bottom: 3px;
    font-size: 110%;
}

.predic-title{
    width: 100%;
    height: 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    align-items: center;
    color: #000000;
    margin-bottom: 30px;
    position: relative;
    float: left;
}

.predic-area {
    position: relative;
    width: 75%;
    float: left;
}

.density {
    position: relative;
    float: right;
    width: 15%;
    text-align: left;
    padding-right: 10px;
}

.input-density{
    position: relative;
    float: right;
    width: 10%;
    top: -3px;
    padding-left: 2px;
}

.break-table {
    margin-bottom: 30px;
}

.row-even {
    background: #F9E8EA !important;
}

.predic-icon-btn {
    height: 16px;
    width: 16px;
    border-radius: 0px;
    margin-right: 10px;
}

.predic-save {
    float: right;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    width: 160px;
    height: 50px;
    background: #CE2E2A;
    border-radius: 4px;
    color: #FFFFFF;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-right: 20px;
}

.predic-cancel {
    float: right;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    width: 160px;
    height: 50px;
    background: #6C605F;
    border-radius: 4px;
    color: #FFFFFF;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.predic-area > span{
    margin-left: 5px;
}