body {
    overflow: visible;
}

.top-bar {
    width: 100%;
    height: 70px;
    background-color: #660000;
    overflow: hidden;
}

.left-bar {
    width: 300px;
    min-height: 100vh;
    top: 70px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding-top: 32px !important;
    /* background-color: #EEEEEE !important; */
    background-color: #FCFCFC !important;
}

.logo-VIUP {
    margin-top: 11px;
    margin-left: 10px;
    height: 50px;
}

.text-top-bar {
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    height: 70px;
}

.logo-BXD {
    margin-top: 11px;
    float: right;
    margin-right: 10px;
    height: 50px;
}

.display-none {
    display: none;
}

.icon-btn {
    height: 25px;
    float: left;
    margin: 2px;
}

.image-main {
    left: 300px;
    position: absolute;
    top: 70px;
    margin-left: 0px;
    place-items: center;
}

.break-line {
    /* margin-top: 5px !important; */
    margin-bottom: 5px;
    height: 1px;
    border-top: 1px solid #E4E4E7;
    width: 100%;
}

.text-area-height {
    color: brown;
    text-align: left;
    font-size: 20px;
    float: left;
    margin-left: 10px;
}

.input-area-height {
    margin-top: 3px;
    margin-bottom: 10px;
    /* margin-bottom: 5px; */
    width: 100%;
}

.zoom-in {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 100px;  
    right: 40px;
    cursor: pointer;
}

.zoom-out {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 40px;
    right: 40px;
    cursor: pointer;
}

.canvas {
    zoom: 1;
    cursor: pointer;
}

.btn-feature {
    border: 1px solid #E4E4E7 !important;
    box-sizing: border-box;
    box-shadow: -4px 4px 4px rgba(84, 14, 17, 0.25);
    border-radius: 8px;
    background-blend-mode: multiply;
    padding: 10px !important;
    flex-direction: row;
    align-items: center;
    height: 60px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}